.invoice-layout-cls {
  // border: 1px solid red;
  min-width: 100%;
  height: 100% !important;
}
.invoice-main-layout-cls {
  margin: auto;
  height: 88vh !important;
  width: 50%;
}

.company-container-cls {
  display: flex;
  flex-flow: column;
  width: 100%;
}

mat-form-field.company-details-cls.mat-form-field.mat-primary.mat-form-field-type-mat-input.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-has-label {
  font-size: 10px;
  width: 40%;
}

mat-form-field.cmp-adrnam-cls.mat-form-field.mat-primary.mat-form-field-type-mat-input.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-has-label {
  font-size: 10px;
  width: 80%;
}

mat-divider.divd-cls.mat-divider.mat-divider-horizontal {
  border-top-color: #2296f3 !important;
  border-top: solid;
}

table {
  width: 100%;
  height: 100px;
}

.invoice-button-cls {
  position: absolute;
  top: 2%;
  right: 26%;
}
