<div class="invoice-main-layout-cls">
    <div>
        <h1>New Invoice</h1>
        <div class="invoice-button-cls">
            <button mat-raised-button color="accent">Print</button>
            <button mat-raised-button color="accent" (click) = "saveInvoice()">Save</button>
            <button mat-raised-button color="accent">Cancel</button>
        </div>
    </div>
    <mat-card>
        <mat-grid-list cols="1" rowHeight="75px">
            <mat-grid-tile rowspan="3">
                <div class="invoice-layout-cls">
                    <mat-grid-list cols="2">
                        <mat-grid-tile rowspan="2">
                            <div class="invoice-layout-cls">
                                <div class="company-container-cls">
                                    <h6>Your details</h6>
                                    <form [formGroup]="userDetails">
                                        <div>
                                            <mat-form-field class="cmp-adrnam-cls" [floatLabel]="auto">
                                                <mat-label>Your Name</mat-label>
                                                <input class="company-details-cls" matInput formControlName="name">
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-form-field class="cmp-adrnam-cls" [floatLabel]="auto">
                                                <mat-label> Your Company name</mat-label>
                                                <input matInput formControlName="companyName">
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-form-field class="cmp-adrnam-cls"
                                                [floatLabel]="auto">
                                                <mat-label>Street</mat-label>
                                                <input matInput formControlName="street">
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-form-field class="company-details-cls"
                                                [floatLabel]="auto">
                                                <mat-label>City</mat-label>
                                                <input matInput formControlName="city">
                                            </mat-form-field>
                                            <mat-form-field class="company-details-cls"
                                                   [floatLabel]="auto">
                                                   <mat-label>Province</mat-label>
                                                   <input matInput formControlName="province">
                                           </mat-form-field>
                                        </div>
                                        <mat-form-field class="company-details-cls"
                                            [floatLabel]="auto">
                                            <mat-label>ZIP code</mat-label>
                                            <input matInput formControlName="zipcode">
                                        </mat-form-field>
                                        <mat-form-field class="company-details-cls"
                                                [floatLabel]="auto">
                                                <mat-label>Country</mat-label>
                                                <input matInput formControlName="country">
                                        </mat-form-field>
                                    </form>
                                </div>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile rowspan="2">
                            <div class="invoice-layout-cls">
                                <div class="company-container-cls">
                                    <h6>Invoice to</h6>
                                    <form [formGroup]="customerDetails">
                                        <div>
                                            <mat-form-field class="company-details-cls" [floatLabel]="auto">
                                                <mat-label>First Name</mat-label>
                                                <input class="company-details-cls" matInput formControlName="firstName">
                                            </mat-form-field>
                                            <mat-form-field class="company-details-cls" [floatLabel]="auto">
                                                <mat-label>Last Name</mat-label>
                                                <input matInput formControlName="lastName">
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-form-field class="cmp-adrnam-cls" [floatLabel]="auto">
                                                <mat-label>Company name</mat-label>
                                                <input matInput formControlName="companyName">
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-form-field class="cmp-adrnam-cls" [floatLabel]="auto">
                                                <mat-label>Company address</mat-label>
                                                <input matInput formControlName="street">
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-form-field class="company-details-cls" [floatLabel]="auto">
                                                <mat-label>City</mat-label>
                                                <input matInput formControlName="city">
                                            </mat-form-field>
                                            <mat-form-field class="company-details-cls" [floatLabel]="auto">
                                                <mat-label>Province</mat-label>
                                                <input matInput formControlName="province">
                                            </mat-form-field>
                                        </div>
                                        <mat-form-field class="company-details-cls" [floatLabel]="auto">
                                            <mat-label>ZIP code</mat-label>
                                            <input matInput formControlName="zipcode">
                                        </mat-form-field>
                                        <mat-form-field class="company-details-cls" [floatLabel]="auto">
                                            <mat-label>Country</mat-label>
                                            <input matInput formControlName="country">
                                        </mat-form-field>
                                    </form>
                                </div>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </mat-grid-tile>
            <mat-grid-tile rowspan="1">
                <mat-divider class="divd-cls"></mat-divider>
            </mat-grid-tile>
            <mat-grid-tile rowspan="4">
                <div class="invoice-layout-cls">
                    <div>
                        <span>Product details</span>
                        <button style="float: right; margin-bottom: 1%;" mat-raised-button color="accent" (click)="openDialog('Add', {productName: '', 'quantity': 1, 'price': '0'})">Add Product Items</button>
                    </div>
                    <div class="product-table-cls">
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
                            <!-- Checkbox Column -->
                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()"
                                        [aria-label]="checkboxLabel()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                                        [aria-label]="checkboxLabel(row)">
                                    </mat-checkbox>
                                </td>
                            </ng-container>
    
                            <ng-container matColumnDef="sno">
                                <th mat-header-cell *matHeaderCellDef> No. </th>
                                <td mat-cell *matCellDef="let element"> {{element.sno}} </td>
                            </ng-container>
    
                            <!-- Name Column -->
                            <ng-container matColumnDef="productName">
                                <th mat-header-cell *matHeaderCellDef> Product Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.productName}}</td>
                            </ng-container>
    
                            <!-- Weight Column -->
                            <ng-container matColumnDef="quantity">
                                <th mat-header-cell *matHeaderCellDef> Quantity </th>
                                <td mat-cell *matCellDef="let element"> {{element.quantity}}</td>
                            </ng-container>
    
                            <!-- Symbol Column -->
                            <ng-container matColumnDef="price">
                                <th mat-header-cell *matHeaderCellDef> Unit Price </th>
                                <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                            </ng-container>
                            <ng-container matColumnDef="rowTotal">
                                <th mat-header-cell *matHeaderCellDef> Total </th>
                                <td mat-cell *matCellDef="let element"> {{element.rowTotal}} </td>
                            </ng-container>

                            <!-- Action Column -->
                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef> Action </th>
                                <td mat-cell *matCellDef="let element">
                                    <a (click)="openDialog('Update', element)">
                                        <i class="material-icons">edit</i>
                                    </a> 
                                    <a (click)="openDialog('Delete', element)">
                                        <i class="material-icons">delete</i>
                                    </a>
                                </td>
                            </ng-container>
    
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>               
                </div>
            </mat-grid-tile>
            <mat-grid-tile rowspan="1">
                <mat-divider class="divd-cls"></mat-divider>
            </mat-grid-tile>
            <mat-grid-tile rowspan="2">
                <div class="invoice-layout-cls">
                    <!-- <span>Total Amount details</span> -->
                    <div>
                        <p class="total-calc-cls">Total Amount : <span> {{totalAmountWithoutTax | number}}</span></p>
                        <p class="total-calc-cls">Tax(13.1 % of total amount) : <span>{{totalTax | number}}</span></p>
                        <p class="total-calc-cls">Grand Total : <span>{{totalAmountWithTax | number}}</span></p>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
</div>
