<!-- dialog-box.component.html -->
<h1 mat-dialog-title><strong>{{action}} Product details</strong></h1>
<div mat-dialog-content>
    <form *ngIf="action != 'Delete'; else elseTemplate">
        <mat-form-field>
            <input placeholder="{{action}} Product Name" matInput [(ngModel)]="localData.productName"
                name="productName">
        </mat-form-field>
        <mat-form-field>
            <input placeholder="{{action}} Quantity" matInput [(ngModel)]="localData.quantity" name="quantity" [currencyFormatter]>
        </mat-form-field>
        <mat-form-field>
            <input placeholder="{{action}} Price" matInput [(ngModel)]="localData.price" name="price" [currencyFormatter]>
        </mat-form-field>
    </form>
    <ng-template #elseTemplate>
        Sure to delete <b>{{localData.productName}}</b>?
    </ng-template>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="doAction()">{{action}}</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>